<div layout="column">
	<div layout="column" layout-align="center center" layout-padding>
		<div style="width: 100%;">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools md-whiteframe-2dp">
						<h5><span style="color: white;">Change Password</span></h5>
						<span flex></span>
					</div>
				</md-toolbar>
				<md-card-content>
					<form autocomplete="off">
						<div layout="column">
							<md-input-container>
								<label>Old Password</label>
								<input type="password" ng-model="vm.participant.oldPassword"/>
							</md-input-container>
							<md-input-container>
								<label>Password</label>
								<input type="password" ng-model="vm.participant.password"/>
							</md-input-container>
							<md-input-container>
								<label>Confirm Password</label>
								<input type="password" ng-model="vm.participant.confirmPassword"/>
							</md-input-container>

							<div layout="row" layout-align="end end">
								<div>
									<md-button class="md-primary md-raised" ng-click="vm.updatePassword();">
										Update Password
									</md-button>
								</div>
							</div>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</div>

		<div style="width: 100%;">
			<md-card>
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools md-whiteframe-2dp">
						<h5><span style="color: white;">Delete Account</span></h5>
						<span flex></span>
					</div>
				</md-toolbar>
				<md-card-content>
					<div layout="column">
						<span> Once you delete your account, you can no longer get it back. </span>
						<div layout="row" layout-align="end end">
							<div>
								<md-button class="md-primary md-raised">
									Delete Account
								</md-button>
							</div>
						</div>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>