<div layout="column">
	<div layout="column" layout-align="center center" layout-padding>
		<div style="width: 100%;">
			<md-card ng-if="vm.userService.isUserACompany()">
				<md-toolbar>
					<div class="md-toolbar-tools md-whiteframe-2dp">
						<h5><span style="color: white;">Company Profile</span></h5>
						<span flex></span>
					</div>
				</md-toolbar>
				<md-card-content>
					<form autocomplete="off">
						<div layout="column">
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Email</label>
										<input type="text" disabled="disabled" ng-model="vm.company.email"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Name</label>
										<input type="text" ng-model="vm.company.name"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Description</label>
										<input type="text" ng-model="vm.company.description"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Location</label>
										<input type="text" ng-model="vm.company.location"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Website</label>
										<input type="url" ng-model="vm.company.website"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Company Programming Language</label>
										<md-select ng-model="vm.company.programmingLanguage" aria-label="select"> 
									        <md-optgroup>
									            <md-option ng-repeat="language in vm.programmingLanguageService.programmingLanguageList">
									                <span>{{language.language}}</span>
									            </md-option>
									        </md-optgroup>
									    </md-select>
									</md-input-container>
								</div>
							</div>

							<div layout="row" layout-align="end end" layout-padding>
								<div>
									<md-button class="md-primary md-raised">
										Update Profile
									</md-button>
								</div>
							</div>
						</div>
					</form>
				</md-card-content>
			</md-card>

			<md-card ng-if="vm.userService.isUserAParticipant()">
				<md-toolbar>
					<div class="md-toolbar-tools md-whiteframe-2dp">
						<h5><span style="color: white;">Participant Profile</span></h5>
						<span flex></span>
					</div>
				</md-toolbar>
				<md-card-content>
					<form autocomplete="off">
						<div layout="column">
							<div>
								<div layout="column">
									<md-input-container>
										<label>Firstname</label>
										<input type="text" ng-model="vm.participant.firstname"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Lastname</label>
										<input type="text" ng-model="vm.participant.lastname"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Location</label>
										<input type="text" ng-model="vm.participant.location"/>
									</md-input-container>
								</div>
							</div>
							<div>
								<div layout="column">
									<md-input-container>
										<label>Programming Language</label>
										<md-select ng-model="vm.participant.programmingLanguage" aria-label="select"> 
									        <md-optgroup>
									            <md-option ng-repeat="language in vm.programmingLanguageService.programmingLanguageList">
									                <span>{{language.language}}</span>
									            </md-option>
									        </md-optgroup>
									    </md-select>
									</md-input-container>
								</div>
							</div>

							<div layout="row" layout-align="end end" layout-padding>
								<div>
									<md-button class="md-primary md-raised">
										Update Profile
									</md-button>
								</div>
							</div>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>