<div layout="column">
	<div>
		<md-toolbar>
			<div class="md-toolbar-tools md-hue-1 md-whiteframe-2dp">
				<h5> <a href="#" ui-sref="index"><span style="color: white;">Workforce</span></a></h5>
				<span flex></span>
			</div>
		</md-toolbar>
	</div>
	<div layout="column" layout-align="center center">
		<div style="width: 100%;" layout-padding>
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools md-whiteframe-2dp">
						<h5><span style="color: white;">Activate Account</span></h5>
						<span flex></span>
					</div>
				</md-toolbar>
				<md-card-content>
					<span class="md-caption">*Enter the default password as old password to activate your account.</span>
					<form autocomplete="off">
						<div layout="column">
							<md-input-container>
								<label>Old Password</label>
								<input type="password" ng-model="vm.user.oldPassword"/>
							</md-input-container>
							<md-input-container>
								<label>Password</label>
								<input type="password" ng-model="vm.user.password"/>
							</md-input-container>
							<md-input-container>
								<label>Confirm Password</label>
								<input type="password" ng-model="vm.user.confirmPassword"/>
							</md-input-container>

							<div layout="row" layout-align="end end">
								<div>
									<md-button class="md-primary md-raised">
										Activate Account
									</md-button>
								</div>
							</div>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>