<div layout="column" class="fullpage">
	<div>
		<md-toolbar>
			<div class="md-toolbar-tools md-hue-1 md-whiteframe-2dp">
				<md-button class="md-icon-button" aria-label="menu" ng-click="vm.openNav($event)">
					<md-icon md-svg-icon="../node_modules/material-design-icons/navigation/svg/design/ic_menu_18px.svg"></md-icon>
				</md-button>
				<h5> <span style="color: white;"> {{vm.stateTitle.title}} </span> </h5>

				<span flex></span>
			</div>
		</md-toolbar>
	</div>

	<div>
		<md-sidenav class="md-sidenav md-whiteframe-2dp" md-component-id="nav">
			<div>
				<md-toolbar class="md-tall">
			       	<div layout="column" layout-align="center center" layout-padding>
			       		<div>
					        <div class="avatar_image">
					        	<img alt="image" 
					        		src="https://lh3.googleusercontent.com/-O9erqpdtujM/AAAAAAAAAAI/AAAAAAAAgE8/pBfRZ4Qlhd4/s48-p-rw-no/photo.jpg">
					        	
					        </div>
					    </div>
					    <h1 class="md-title">Thisisaverylongmessagetotest</h1>
				    </div>
			    </md-toolbar>
		    </div>
		    <md-list>
		    	<div nav-Component>
		    		<md-list-item ui-sref="dashboard">
						<md-icon md-svg-icon="../node_modules/material-design-icons/action/svg/design/ic_dashboard_24px.svg"></md-icon>
						<p class="md-body-2">Dashboard</p>
					</md-list-item>
			    	<md-list-item ui-sref="dashboard.explore">
						<md-icon md-svg-icon="../node_modules/material-design-icons/action/svg/design/ic_explore_24px.svg"></md-icon>
						<p class="md-body-2">Explore</p>
					</md-list-item>
					<md-list-item ui-sref="dashboard.settings">
						<md-icon md-svg-icon="../node_modules/material-design-icons/action/svg/design/ic_settings_24px.svg"></md-icon>
						<p class="md-body-2">Settings</p>
					</md-list-item>	
			    	<md-list-item ui-sref="login">
						<md-icon md-svg-icon="../node_modules/material-design-icons/action/svg/design/ic_input_24px.svg"></md-icon>
						<p class="md-body-2">Logout</p>
					</md-list-item>	
					<md-divider></md-divider>
					<md-list-item ui-sref="login">
						<md-icon md-svg-icon="../node_modules/material-design-icons/action/svg/design/ic_help_24px.svg"></md-icon>
						<p class="md-body-2">About</p>
					</md-list-item>	
				</div>
		    </md-list>
		</md-sidenav>
	</div>

	<div layout="column" class="fullpage">
		<div ui-view class="fullpage">
			This is the dashboard menu.
		</div>
	</div>
</div>
