<div layout="column" style="height: 100%">
	<div layout="row" layout-align="center center" style="height: 100%">
		<md-card style="width: 40%;">
			<md-card-content>
				<div layout="column">
					
					<md-button class="md-primary md-raised" ui-sref="login.github" style="background: rgb(158, 158, 158);">
						<md-icon md-svg-icon="views/img/github.svg"></md-icon>
						Login with Github
					</md-button>


					
					<md-input-container>
						<label>Email</label>
						<input ng-model="vm.user.email">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="vm.user.password" type="password">
					</md-input-container>
					
					
					<div layout="row" layout-align="end end">
						<md-button class="md-primary">
							Sign up
						</md-button>
<!-- 						<md-button class="md-primary md-raised" ui-sref="login.github">
							Login
						</md-button> -->
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>